<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DefendX</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="logo">DefendX</div>
        <ul class="nav-links">
            <li><a href="#features">Features</a></li>
            <li><a href="#demo">Demo</a></li>
            <li><a href="#why-choose-us">About</a></li>
            <li><a href="#feedback">Feedback</a></li>
            <li><a href="#team">Team</a></li>
        </ul>
    </nav>

    <!-- Hero Section -->
    <header class="hero">
        <h1>DefendX</h1>
        <p>Your Comprehensive Cybersecurity Solution for Safeguarding Your Digital World 
            Against All Threats and Ensuring Maximum Protection and Peace of Mind
        </p>  
        <a href="https://edge-runner.streamlit.app/" class="btn-primary">Launch DefendX</a>
        <a href="#demo" class="btn-secondary">Watch Demo Video</a>
    </header>

    <!-- Features Section -->
    <section id="features">
            <h2>Our Key Features</h2>
            
        <div class="feature-cards">
            <div class="card">
                <h3>Smart Home Network Monitoring</h3>
                <p>Analyze traffic between IoT devices to detect anomalies and prevent attacks.</p>
            </div>
            <div class="card">
                <h3>Router-Level Intrusion Detection</h3>
                <p>Monitor network activity at the router level for advanced threat detection.</p>
            </div>
            <div class="card">
                <h3>Localized Malware Detection</h3>
                <p>Real-time malware detection on Edge-Devices and self-quarantine for isolated devices.</p>
            </div>
        </div>
        <div class="feature-cards">
            <p>

            </p>
        </div>    
        <div class="feature-cards">
            <div class="card">
                <h3>User-Friendly Interface</h3>
                <p>Intuitive and easy-to-navigate interface ensures a seamless user experience for all skill levels.</p>
            </div>
            <div class="card">
                <h3>High Accuracy Detection</h3>
                <p>Advanced algorithms and AI-driven techniques provide highly accurate threat detection and reduced false positives.</p>
            </div>
            <div class="card">
                <h3>Comprehensive Support</h3>
                <p>24/7 support with expert assistance to help you resolve any issues and optimize your security setup.</p>
            </div>
        </div>
    </section>
    
 
<!-- Why Choose Us Section -->
<section id="why-choose-us">
    <h2>Why Choose Us?</h2>
    <div class="why-choose-us-content">
        <div class="left-paragraph">
            <p>At DefendX, we provide a comprehensive cybersecurity solution designed to offer top-notch protection 
               for both personal and business environments.We offer personalized support and advanced features tailored
               to your unique security needs.
            </p>
            <p>With a focus on innovation and reliability, we utilize cutting-edge technology to safeguard your
               digital assets. From localized malware detection on edge devices to smart home network monitoring, 
               our solutions are engineered to provide real-time protection and prevent potential attacks. 
               Choose DefendX for unparalleled security and peace of mind.
            </p>
        </div>
        <div class="center-video">
            <video autoplay loop muted playsinline>
                <source src="https://v1.pinimg.com/videos/mc/720p/4a/4e/16/4a4e16f9fc1406b0a1dd9ef964cc6e5c.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="right-paragraph">
            <p>Our commitment to excellence sets us apart in the cybersecurity industry. We leverage state-of-the-art algorithms 
               and AI-driven insights to ensure that our solutions offer the highest level of protection against evolving cyber threats. 
               Our approach integrates seamlessly with your existing infrastructure, providing a robust defense mechanism
               without compromising performance.
            </p>
            <p>DefendX’s dedicated support team is available around the clock to assist with any issues or questions you may have.
            </p>     
        </div>   
     </div>
</section>


    <!-- Feedback Section -->
<section id="feedback">
    <h2>User Feedback</h2>
    <h3> See all 11,504 reveiws </h3>
    <div class="feedback-container">
        <!-- Feedback Card 1 -->
        <div class="feedback-card">
           
            <div class="feedback-header">
                
                <!-- Star rating -->
                <div class="stars">
                    ★★★★★
                </div>
            </div>
            <div>
                <p>The DefendX Model has significantly improved our home network security. The real-time monitoring 
                    and instant alerts have given us peace of mind, especially with all our IoT devices connected. 
                    The localized malware detection is impressive!
                </p>

            </div >
            <div style="display: flex; align-items: center; gap:0.4rem; font-weight:700; font-size: 1.2rem;">

                <img src="https://www.shutterstock.com/image-photo/happy-mid-aged-business-man-600nw-2307212331.jpg" class="feedback-img" alt="Jane Doe" style="margin-right: 10px;">
                <span>Jane Doe</span>
            </div>

            
        </div>

        <!-- Feedback Card 2 -->
        <div class="feedback-card">
            <div class="feedback-header">
                <!-- Star rating -->
                <div class="stars">
                    ★★★★★
                
                </div>               
            </div>
            <div>
              <p>As a tech enthusiast, I’m always looking for cutting-edge solutions. The DefendX Model’s features like 
                smart home network monitoring and edge device protection are top-notch. It's been a game-changer in securing!
              </p>
            </div>
            <div style="display: flex; align-items: center; gap:0.8rem; font-weight:700; font-size: 1.2rem;">
            <img src="https://www.morganstanley.com/content/dam/msdotcom/people/tiles/wided-sghaier.jpg.img.490.medium.jpg/1594912196352.jpg" class="feedback-img" alt="Emily Green">
            <span>Emily Green</span>
        </div>
    </div>
    
    <!-- Feedback Card 3 -->
        <div class="feedback-card">
            <div class="feedback-header">
                <!-- Star rating -->
                <div class="stars">
                    ★★★★★
                </div>
            </div>
            <div>
                <p>We integrated the DefendX Model into our small office router, and it immediately started 
                detecting unusual traffic patterns. The router-level intrusion detection is easy to manage. 
                This tool is essential for any business concerned about cybersecurity.
                </p>
              
            </div>
            <div style="display: flex; align-items: center; gap:0.8rem; font-weight:700; font-size: 1.2rem;">
               <img src="https://www.morganstanley.com/content/dam/msdotcom/people/tiles/isaiah-dwuma.jpg.img.490.medium.jpg/1594668408164.jpg" class="feedback-img" alt="John Smith">
               <span>John Smith</span>
            </div>
        
    </div>
    
</section>


  
 <!-- Team Section -->
<section id="team">
    <h2>Meet Our Team</h2>
    <div class="team-members">
        <div class="member">
            <img src="https://i.pinimg.com/564x/9b/36/07/9b3607b5f53cfdacc8619ec2031b7624.jpg" alt="Ayesha">
            <h3>Ayesha Virk</h3>
            <p>Visionary</p>
        </div>    
        <div class="member">
            <img src="https://i.pinimg.com/564x/9b/0a/43/9b0a437e7d82704e07b211de65401a5c.jpg" alt="Khadeeja">
            <h3>Khadeeja Baqui</h3>
            <p>Cybersecurity Expert</p>
        </div>
        
        <div class="member">
            <img src="https://i.pinimg.com/564x/06/64/bc/0664bca899a789577effe2000b8cb09e.jpg" alt="Majid">
            <h3>Majid Ali</h3>
            <p>Backend Developer</p>
        </div>
        <div class="member">
            <img src="https://i.pinimg.com/564x/07/90/78/079078bbcef2d429aa0c310f3e62861e.jpg" alt="Usman">
            <h3>Usman Gill</h3>
            <p>Network Analyst</p>
        </div>
        <div class="member">
            <img src="https://i.pinimg.com/564x/d6/b6/5c/d6b65c7f93d121c7048143771a62e6d7.jpg" alt="Saira">
            <h3>Saira Akram</h3>
            <p>Buisness Analyst</p>
        </div>
    </div>
</section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 DefendX. All rights reserved.</p>
    </footer>

    <!-- Link to external JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
